.container {
  max-width: 700px;
  padding: 10%;
  margin: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 20px;
  border-radius: 7px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input {
  padding: 5px;
  margin-top: 10px;
  width: 100%;
}

.form span {
  color: var(--pink-accent);
}

.form .link {
  text-align: center;
}
